[submodule "esp_wireguard"]
	path = esp_wireguard
	url = https://github.com/trombik/esp_wireguard.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "esp-tamp"]
	path = esp-tamp
	url = https://github.com/BitsForPeople/esp-tamp.git
[submodule "esphome"]
	path = esphome
	url = https://github.com/esphome/esphome.git
[submodule "headscale"]
	path = headscale
	url = https://github.com/juanfont/headscale.git
[submodule "libtailscale"]
	path = libtailscale
	url = https://github.com/tailscale/libtailscale.git
[submodule "noise-c"]
	path = noise-c
	url = https://github.com/esphome/noise-c.git
