[submodule "external/esp-idf"]
	path = external/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "external/esp-tamp"]
	path = external/esp-tamp
	url = https://github.com/BitsForPeople/esp-tamp.git
[submodule "external/esphome"]
	path = external/esphome
	url = https://github.com/esphome/esphome.git
[submodule "external/headscale"]
	path = external/headscale
	url = https://github.com/juanfont/headscale.git
[submodule "external/libtailscale"]
	path = external/libtailscale
	url = https://github.com/tailscale/libtailscale.git
[submodule "external/noise-c"]
	path = external/noise-c
	url = https://github.com/esphome/noise-c.git
