[submodule "external/required/noise-c"]
	path = external/required/noise-c
	url = https://github.com/esphome/noise-c.git

[submodule "external/required/esphome"]
	path = external/required/esphome
	url = https://github.com/esphome/esphome.git

[submodule "external/optional/esp-idf"]
	path = external/optional/esp-idf
	url = https://github.com/espressif/esp-idf.git

[submodule "external/optional/esp-tamp"]
	path = external/optional/esp-tamp
	url = https://github.com/BitsForPeople/esp-tamp.git

[submodule "external/optional/headscale"]
	path = external/optional/headscale
	url = https://github.com/juanfont/headscale.git

[submodule "external/optional/libtailscale"]
	path = external/optional/libtailscale
	url = https://github.com/tailscale/libtailscale.git

[submodule "external/optional/tailscale"]
	path = external/optional/tailscale
	url = https://github.com/tailscale/tailscale
