# ESPHome Secrets File Template. Remove .template and update keys below:

# WiFi Configuration
wifi_ssid: "YOUR_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"

# Tailscale/Headscale Configuration
tailscale_auth_key: "xxxxxxxxxxxxx"

# Probably works with tailscale servers also - not tested
headscale_url: "https://your-server.com"

# Fake generated keys, should be regenerated at runtime with headscale keys
# from nvs, but needed for esphome build to pass sanity checks.
wg_template_private_key: "M+mPoLE0s24lwMCmtTd74EX+BGG8fQIAt6XoX3QUwtg="
wg_template_peer_public_key: "H6g3ZfUNPFebxslpQP69f7fX+GZmuK9m88Y5rjYvrdM="
